.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: gray;
  min-height: 10vh;
  color: white;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  list-style: none;
}

.nav-links > li {
  color: antiquewhite;
  text-decoration: none;

}
